Repository UHHRobotics22-23/MarimbaBot, pull requests merged in 2023-09, with the labels that each got.

#249 Attention viz
  marimbabot_vision/scripts/attention_viz.py
Labels: enhancement, vision

#241 Marimba integration test v2
  marimbabot_audio/launch/marimbabot.launch
  marimbabot_audio/launch/marimbabot_rviz.launch
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
  marimbabot_planning/README.md
  marimbabot_speech/src/speech2text.py
Labels: documentation, audio, behavior, integration

#230 Command recognition patch
  .github/workflows/main.yml
  README.md
  marimbabot_msgs/CMakeLists.txt
  marimbabot_msgs/msg/Speech.msg
  marimbabot_msgs/msg/TmpFile.msg
  marimbabot_msgs/package.xml
  marimbabot_speech/CMakeLists.txt
  marimbabot_speech/config/commands.txt
  marimbabot_speech/launch/command_recognition.launch
  marimbabot_speech/launch/marimbabot.launch
  marimbabot_speech/package.xml
  marimbabot_speech/setup.py
  marimbabot_speech/src/audio2tmp.py
  marimbabot_speech/src/speech2text.py
  marimbabot_speech/src/speech_extraction.py
  marimbabot_speech/src/text2command.py
  marimbabot_speech/src/text2speech.py
  marimbabot_speech/src/utils/__init__.py
  marimbabot_speech/src/utils/command.py
  marimbabot_speech/src/utils/file_control.py
  marimbabot_speech/utils/kws/hi-marimbabot.pb
  marimbabot_speech/utils/kws/hi-marimbabot.pb.params
  marimbabot_speech/utils/kws/hi-marimbabot.pbtxt
  marimbabot_speech/utils/kws/reminder.wav
  requirements.txt
Labels: enhancement, audio, feature/speech

#255 add logic for the repeat-parsing issue
  marimbabot_behavior/src/marimbabot_behavior/interpreter.py
  marimbabot_vision/src/visualization_node.py
Labels: bug, behavior

#260 Simple double mallet chord playing
  marimbabot_description/urdf/marimbabot_ur5.urdf.xacro
  marimbabot_planning/include/marimbabot_planning/planning.h
  marimbabot_planning/include/marimbabot_planning/utils.h
  marimbabot_planning/scripts/sound_pad.py
  marimbabot_planning/src/planning.cpp
  marimbabot_planning/src/utils.cpp
  marimbabot_ur5_flex_double_moveit_config/config/kinematics.yaml
  marimbabot_ur5_flex_double_moveit_config/config/marimbabot_ur5.srdf
Labels: enhancement, motion

#266 remove json usage for clearity
  marimbabot_msgs/msg/Command.msg
  marimbabot_speech/src/text2command.py
Labels: command

#242 Add "louder", "softer" and "loop"
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
  marimbabot_behavior/src/marimbabot_behavior/interpreter.py
Labels: enhancement, behavior

#268 Fix double mallet start point collision
  marimbabot_ur5_flex_double_moveit_config/config/fake_controllers.yaml
  marimbabot_ur5_moveit_config/config/fake_controllers.yaml
Labels: bug
