Repository UHHRobotics22-23/MarimbaBot, pull requests merged in 2023-07, with the labels that each got.

#161 fix package.xml
  marimbabot_audio/package.xml
  marimbabot_speech/package.xml
Labels: bug

#155 patch for audio of score calculation between vision music sequence and audo music sequence
  marimbabot_audio/examples/send_hit_sequence.py
  marimbabot_audio/launch/marimbabot.launch
  marimbabot_audio/scripts/note2midi.py
  marimbabot_audio/scripts/onset_detection.py
  marimbabot_audio/scripts/score.py
  marimbabot_msgs/CMakeLists.txt
  marimbabot_msgs/msg/HitSequence.msg
  marimbabot_msgs/msg/SequenceScore.msg
Labels: audio

#129 Bar hit detection in simulation
  .gitignore
  marimbabot_description/urdf/marimba.urdf.xacro
  marimbabot_simulation/CMakeLists.txt
  marimbabot_simulation/README.md
  marimbabot_simulation/config/pj_layout.xml
  marimbabot_simulation/launch/marimbabot_full_sim.launch
  marimbabot_simulation/launch/marimbabot_gazebo.launch
  marimbabot_simulation/src/detect_bar_contact.py
  requirements.txt
Labels: enhancement, audio, simulation

#188 Feature/add basic lilypond piece modifications
  marimbabot_behavior/launch/test_behavior.launch
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
  marimbabot_bringup/launch/marimbabot.launch
Labels: behavior
