Repository UHHRobotics22-23/MarimbaBot, pull requests merged in 2023-10, with the labels that each got.

#218 Audio patch2
  .gitignore
  marimbabot_audio/CMakeLists.txt
  marimbabot_audio/config/config.rviz
  marimbabot_audio/examples/send_hit_sequence.py
  marimbabot_audio/launch/audio_feedback.launch
  marimbabot_audio/launch/marimbabot.launch
  marimbabot_audio/launch/open_rviz.launch
  marimbabot_audio/scripts/note2midi.py
  marimbabot_audio/scripts/onset_detection.py
  marimbabot_audio/scripts/score.py
  marimbabot_audio/src/eval_visualization.py
  marimbabot_audio/src/onset_detection.py
  marimbabot_audio/src/onsets_visualization.py
  marimbabot_audio/src/sequence_evaluation.py
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
  marimbabot_msgs/CMakeLists.txt
  marimbabot_msgs/action/HitSequence.action
  marimbabot_msgs/msg/SequenceMatchResult.msg
  marimbabot_msgs/msg/SequenceScore.msg
  marimbabot_planning/src/planning.cpp
  marimbabot_speech/src/speech2text.py
  marimbabot_speech/src/speech_extraction.py
  marimbabot_speech/src/text2command.py
  marimbabot_speech/src/text2speech.py
  marimbabot_vision/src/visualization_node.py
Labels: enhancement, audio

#273 translate repeat to parseable format
  marimbabot_behavior/launch/test_behavior.launch
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
  marimbabot_behavior/src/marimbabot_behavior/interpreter.py
Labels: bug, behavior

#275 fix marcato check
  marimbabot_vision/scripts/generate_data.py
  marimbabot_vision/scripts/generate_hw_data.py
Labels: bug, vision

#276 Fix/hw dotted and articulated chords
  marimbabot_vision/scripts/generate_hw_data.py
Labels: bug, vision

#246 Project Overview and Block Diagram
  README.md
Labels: documentation

#248 Vision tweaks
  .gitignore
  marimbabot_vision/scripts/README.md
  marimbabot_vision/scripts/generate_augmented_data.py
  marimbabot_vision/scripts/generate_data.py
  marimbabot_vision/scripts/generate_hw_data.py
  marimbabot_vision/scripts/tokenizer.json
  marimbabot_vision/scripts/train.py
  marimbabot_vision/scripts/train_tokenizer.py
  requirements.txt
Labels: vision

#285 Audio small patch
  marimbabot_audio/launch/audio_feedback.launch
  marimbabot_audio/src/onset_detection.py
  marimbabot_bringup/launch/marimbabot.launch
  marimbabot_speech/launch/command_recognition.launch
  marimbabot_speech/src/speech2text.py
  marimbabot_speech/src/text2command.py
Labels: enhancement, audio, feature/speech

#281 Add low frames for sharp notes
  marimbabot_description/urdf/marimba.urdf.xacro
Labels: enhancement

#286 Doc/audio speech
  README.md
  marimbabot_audio/README.assets/image-20231004154604276.png
  marimbabot_audio/README.md
  marimbabot_audio/config/config.rviz
  marimbabot_audio/examples/send_hit_sequence.py
  marimbabot_audio/launch/open_rviz.launch
  marimbabot_audio/scripts/dummy_client_audio_from_lilypond.py
  marimbabot_speech/README.assets/image-20231004163741787.png
  marimbabot_speech/README.md
  marimbabot_speech/launch/command_recognition.launch
Labels: documentation, audio, feature/speech

#280 Fix initial volume assignment
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
Labels: bug, behavior

#282 Command GUI
  marimbabot_behavior/launch/test_behavior.launch
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
  marimbabot_behavior/src/marimbabot_behavior/commandGUI.py
Labels: enhancement

#289 Behavior README
  marimbabot_behavior/README.md
Labels: documentation

#288 Create Bringup README.md
  marimbabot_bringup/README.md
Labels: documentation

#300 Link main hardware repo
  marimbabot_hardware/README.md
Labels: documentation, enhancement

#301 Remove TODO and add bar hit detection section
  marimbabot_simulation/README.md
Labels: documentation, simulation

#293 motion planning readme
  marimbabot_planning/README.md
Labels: documentation

#302 Add decision tree to Behavior README
  marimbabot_behavior/README.md
  marimbabot_behavior/src/marimbabot_behavior/behavior_node.py
Labels: documentation

#306 extend song library
  marimbabot_behavior/src/marimbabot_behavior/commandGUI.py
Labels: enhancement
